<a href="https://colab.research.google.com/github/projjal1/Car-Price-Predictiion/blob/main/Car_Prices_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import *

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/pramodini18/Car-Price-Prediction/master/CarPrice_Assignment.csv')

In [ ]:
data.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [ ]:
data.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [ ]:
y=data.price.values
y[:4]

array([13495., 16500., 16500., 13950.])

In [ ]:
data.pop('price')

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [ ]:
data.head()

   car_ID  symboling                   CarName  ... peakrpm citympg highwaympg
0       1          3        alfa-romero giulia  ...    5000      21         27
1       2          3       alfa-romero stelvio  ...    5000      21         27
2       3          1  alfa-romero Quadrifoglio  ...    5000      19         26
3       4          2               audi 100 ls  ...    5500      24         30
4       5          2                audi 100ls  ...    5500      18         22

[5 rows x 25 columns]

In [ ]:
lenc=LabelEncoder()
columns=['fueltype','aspiration','doornumber','carbody','drivewheel','enginelocation',
         'enginetype','cylindernumber','fuelsystem']
for each in columns:
  data[each]=lenc.fit_transform(data[each])

In [ ]:
data.head()

   car_ID  symboling                   CarName  ...  peakrpm  citympg  highwaympg
0       1          3        alfa-romero giulia  ...     5000       21          27
1       2          3       alfa-romero stelvio  ...     5000       21          27
2       3          1  alfa-romero Quadrifoglio  ...     5000       19          26
3       4          2               audi 100 ls  ...     5500       24          30
4       5          2                audi 100ls  ...     5500       18          22

[5 rows x 25 columns]

In [ ]:
data.CarName=data.CarName.replace('audi 100 ls','audi 100ls')

In [ ]:
print('Number of car models: ',data.CarName.unique().shape[0])

Number of car models:  146

In [ ]:
data['CarName']=lenc.fit_transform(data['CarName'])

In [ ]:
sc=StandardScaler()
data=sc.fit_transform(data)

In [ ]:
data[:4]

array([[-1.72362229,  1.74347043, -1.81635446,  0.32879797, -0.46929532,
         1.13038833, -3.05097525,  1.21333041, -0.12186667, -1.6907718 ,
        -0.42652147, -0.84478235, -2.0204173 , -0.01456628, -2.86510549,
        -0.14747536,  0.07444893,  0.8695675 ,  0.51907138, -1.83937734,
        -0.28834891,  0.17448278, -0.26296022, -0.64655303, -0.54605874],
       [-1.70672403,  1.74347043, -1.79188655,  0.32879797, -0.46929532,
         1.13038833, -3.05097525,  1.21333041, -0.12186667, -1.6907718 ,
        -0.42652147, -0.84478235, -2.0204173 , -0.01456628, -2.86510549,
        -0.14747536,  0.07444893,  0.8695675 ,  0.51907138, -1.83937734,
        -0.28834891,  0.17448278, -0.26296022, -0.64655303, -0.54605874],
       [-1.68982577,  0.133509  , -1.84082237,  0.32879797, -0.46929532,
         1.13038833, -0.71720687,  1.21333041, -0.12186667, -0.70859588,
        -0.23151305, -0.19056612, -0.54352748,  0.51488192,  1.88688986,
         1.11220997,  0.60404617,  0.8695675 , -2.40488029,  0.68594616,
        -0.28834891,  1.26453643, -0.26296022, -0.95301169, -0.69162706],
       [-1.67292751,  0.93848971, -1.76741864,  0.32879797, -0.46929532,
        -0.88465174,  0.44967732, -0.58908071, -0.12186667,  0.17369775,
         0.2072559 ,  0.13654199,  0.23594216, -0.42079745, -0.01390828,
        -0.14747536, -0.43107572,  0.8695675 , -0.51726592,  0.46218332,
        -0.03597283, -0.05366798,  0.78785546, -0.18686504, -0.10935377]])

In [ ]:
from sklearn.model_selection import train_test_split

test_size=0.25

#Divide the dataset into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(data,y, test_size=test_size, random_state = 0)

In [ ]:
from sklearn.linear_model import SGDRegressor

lg=SGDRegressor(max_iter=10000,learning_rate='adaptive')

In [ ]:
lg.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='adaptive', loss='squared_loss', max_iter=10000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [ ]:
predict=lg.predict(X_test)

In [ ]:
def rmlse(y_test, y_pred):
    error = np.square(np.log10(y_pred +1) - np.log10(y_test +1)).mean() ** 0.5
    score = 1 - error
    return error, score

error, score = rmlse(y_test, predict)

print("\n",'-'*40)
print("RMLSE : ", error)
print("Score : ", score)

 ----------------------------------------
RMLSE :  0.10496240133110095
Score :  0.8950375986688991

In [ ]:
for each in range(4):
  print("Predicted: {0}  Actual: {1}".format(predict[each],y_test[each]))

Predicted: 5811.141023146428  Actual: 6795.0
Predicted: 17702.95783954952  Actual: 15750.0
Predicted: 13723.114705357544  Actual: 15250.0
Predicted: 2344.049827735871  Actual: 5151.0